html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0e0e0e;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card {
    min-width: 105px;
    min-height: 148px;
    border: 4px black solid;
    border-radius: 4px;
}

.body-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    border: 4px gray solid;
    border-radius: 20px;
    background-color: gray;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 10px 30px;
    border-radius: 20px;
    font-family: "TikTok Sans", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

.flashcard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    border: 4px solid rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
    border-radius: 4px;
    padding: 10px;
}

.flashcard {
    border: 4px solid white;
    background-color: white;
    background-image: url("Assets/Flashcard-BG-Blue.png");
    background-size: cover;
    border-radius: 4px;
    aspect-ratio: 4 / 3;
    flex: 1 1 280px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flashcard p {
    font-family: "TikTok Sans", sans-serif;
    font-weight: 900;
    text-align: center;
    color: white;
    font-size: 18px;
}

.create-container {
    width: 30%;
    background-color: #1b73ff;
    border-radius: 8px;
    padding: 16px;
}

#plus {
    background-image: none;
    min-width: 100%;
}

label {
    font-family: "TikTok Sans", sans-serif;
    color: white;
    font-weight: 900;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 4px solid white;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #004dc9;
    color: white;
    font-weight: 900;
    font-family: "TikTok Sans", sans-serif;
}

.create-page {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: 1.2s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {

    body {
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        display: none;
    }

    .create-page {
        flex-direction: column;
        width: 100%;
    }

    .body-container,
    .create-container {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .flashcard {
        max-width: 100%;
    }
}
